/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require login
 *= require signup
 *= require navbar
 *= require_self
 */

html {
  height: 100%;
  background-image: url(http://res.cloudinary.com/ddyl8ojhn/image/upload/v1467264827/background_qddvbs.jpg);
  background-size: cover;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.nav-bar {
  background-color: black;
  width: 100%;
  height: 50px;
}

.header-link {
  width: 100px;
  float: left;
}

.login-signup {
  width: 300px;
  float: right;
}

.app-container {
  height: 100%;
  width: 100%;
}

 input[type=text] {
   width: 65%;
   font-size: 35px;
   margin-bottom: 20px;
   color: white;
   font-family: inherit;
   font-weight: inherit;
 }
 input[type=password] {
   width: 65%;
   font-size: 35px;
   margin-bottom: 20px;
   color: white;
   font-family: inherit;
   font-weight: inherit;
 }

 input[type=submit] {
   width: 40%;
   font-size: 35px;
   margin: 0 auto;
   margin-top: 20px;
   color: yellow;
   font-family: inherit;
   font-weight: 700;
   text-align: center;
   border: 5px solid white;
   border-radius: 10px;
 }

 label {
   font-weight: 600;
 }

 .landing-title {
   font-size: 120px;
   text-shadow: 2px 2px;
   font-weight: 300;
   margin: 0 auto;
   width: 100%;
 }
