.create-ride-page {
 width: 1200px;
 margin: auto;
 margin-top: 50px;
}

.block-for-map {
  float: left;
  height: 600px;
  width: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .7);
}

.ride-info-pane {
  float: right;
  height: 600px;
}

.ride-stats {
  width: 300px;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  background-color: rgba(0, 0, 0, .7);
  padding-top: 15px;
  padding-bottom: 15px;
}

.ride-stats h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.elev-chart {
  float: left;
  width: 1160px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  background-color: rgba(0, 0, 0, .7);
  overflow: hidden;
}

.ride-info-pane .table {
  width: 250px;
}

.map {
  height: 600px;
  width: 800px;
  border-radius: 10px;
}

#ride-metrics {

}

#ride-input {
  min-height: 275px;
}

#old-ride-description-container {
  text-align: center;
  margin-top: 20px;
  height: 40px;
  overflow: hidden;
  overflow-y: auto;
}

#old-ride-description-text {
}

#pre-chart-message {
  margin-top: 100px;
  text-align: center;
}

.instructions {
  width: 1160px;
  float: left;
  margin: 20px;
  height: 70px;
  color: white;
}

.instructions h5 {
  text-align: center;
  margin-left: 15px;
  font-size: 22px;
}
