#feed-container {
  margin: 20px;
}

#feed-container h3 {
  font-size: 1.3em;
  font-weight: 200;
}

#feed-container p {
  font-size: 1em;
  font-weight: 100;
}

#feed-rides-index {
  text-align: center;
}

.feed-side-bar {
  position: fixed;
  top: 30%;
  left: 72%;
  min-width: 100px;
}

.feed-side-bar-item {
  width: 300px;
  height: 270px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  display: block;
  box-sizing: border-box;
}
