.login-form-container {
  margin: 0 auto;
  width : 700px;
  padding: 20px;
  font-size: 40px;
}

.login-form {
  margin-top: -100px;
}

.login-form > label {
  margin-left: 20px;
  font-weight: 100;
}

.login-form-box {
  border: white 5px solid;
  border-radius: 10px;
  font-weight: 100;
}

.login-form-box > h3 {
  text-align: center;
  font-weight: 100;
}

.login-form > input[type="submit"] {
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.switch-form {
  margin-bottom: 5px;
  text-align: center;
}

.list-errors {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
