div#menu > img {
    width: 30px;
    padding-left: 10px;
    margin-top: 5px;
}

nav#navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-image: url(http://res.cloudinary.com/ddyl8ojhn/image/upload/v1467268532/navbarimg_m1c8k0.png);
    border-bottom: white 1px solid
}

div#right {
  display: flex;
  align-items: center;
}

header {
  background-color: white;
}

.dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 0px 0px;
   text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0%;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: rgb(243, 243, 243) 0.5px solid;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

a {
  cursor: pointer;
}

.nav-title {
  cursor: pointer;
  font-size: 33px;
}


.navbar-buttons > a {
  color: white;
  border-left: 1px solid white;
  padding: 9px;
}

.navbar-buttons > a:hover {
  background-color: white;
  color: rgb(48, 87, 145);
}

div#site-name > img {
  width: 60px;
  height: 40px;
}

div#site-name {
    display: flex;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
