.comment-index {
  height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.comment-item {
  margin: 5px;
  padding-left: 5px;
}

.comment-author {
  color: gray;
}

.comment-body {
}

#new-comment-input {
  height: 20px;
  width: 95%;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 5px;
}
