.completed-ride {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .8);
  text-align: center;
}

.completed-ride h2 {
  padding-top: 8px;
  font-weight: 200;
  margin: 0;
}

.completed-ride h5 {
  padding: 8px 0px;
  font-weight: 100;
  margin: 0;
}

.completed-ride:hover {
  box-shadow: 2px 2px 2px rgb(244, 244, 244);
  cursor: pointer;
}

.completed-ride h5:hover {
  text-decoration: underline;
}

.mini-map {
  max-width: 100%;
  height: auto;
  border-radius: 9px;
  overflow: hidden;
}
