.ride-item {
  display: block;
  max-width: 1100px;
  min-height: 400px;
  overflow: hidden;
  margin: 0 auto 40px;
  position: relative;
  background: #ffffff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

.ride-item h2 {
  margin: 0;
  font-family: 'Roboto Condensed';
  padding-top: 8px;
  font-weight: 600;
  font-size: 2.45em;
}


.ride-item:hover {
  // cursor: pointer;
}

.ride-item .underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ride-item-info {
  display: block;
  padding: 30px 48% 40px 35px;
  text-align: left;
}

.ride-item-info-details {
  padding: 8px 0px;
  font-weight: 100;
  margin: 0;
  color: #b1b1b2;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ride-item-info-details h5 {
  display: inline;
  font-weight: 100;
  margin: 0;
  color: #b1b1b2;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.small-bar {
  background: #b1b1b2;
  height: 1px;
  width: 30px;;
  display: inline-block;
  margin-bottom: 5px;
}

.ride-item-comments {
  padding: 30px 0px;
}

.ride-item-comment-item {
  padding: 5px 0px;
}

.mini-map {
  // display: block;
  // position: absolute;
  // max-width: 100%;
  // height: auto;
  // overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  // z-index: 9;
}

.mini-map img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mini-map:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
