.comment-index {
  height: 275px;
  overflow: hidden;
  overflow-y: auto;
}

.comment-item {
  margin: 10px;
  color: #484848;
}

.comment-author {
  color: gray;
}

#new-comment-input {
  height: 20px;
  width: 95%;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 5px;
  color: #484848;
  border-top: 1px solid rgb(173, 178, 181);
  padding-top: 5px;
}
