
.signup-form-container{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 200px;
}


.signup-form-box {
  margin: auto;
}
