.entry-page-container {
  height: 100%;
  display: flex;
}
.entry-form-container {
  margin: 0 auto;
  width : 700px;
  padding: 20px;
  font-size: 40px;
  float: right;
  margin-top: 50px;
}

.landing-title {
 font-size: 80px;
 margin: 0 auto;
 margin-left: 30px;
 font-family: 'Pacifico', cursive;
 float: left;
}

.tagline {
  float: left;
  margin-top: 335px;
  margin-left: -260px;
  font-weight: 100;
  font-size: 24px;
  font-family: Roboto;
  font-style: italic;
}

.entry-form-box {
  font-weight: 100;
}

.entry-form {
  margin-top: -100px;
}

.entry-form > label {
  margin-left: 20px;
  font-weight: 100;
}


.entry-form-box > h3 {
  text-align: center;
  font-weight: 100;
}


.entry-input {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

#user_username {
  margin-bottom: -20px;
}

#user_password {
  margin-bottom: -20px;
}

.switch-form {
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
}

.switch-link {
  color: white;
  font-weight: 400
}

.list-errors {
  text-align: center;
  height: 40px;
  font-size: 16px;
  margin-bottom: 60px;
}
